<div class="page-header">
  <% if logged_in? %>
    <%= link_to new_item_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Item
    <% end %>
  <% end %>
  <h1 Listing>items</h1>
</div>


<!-- This is where the react component goes -->
<div class="react-items"></div>
