<h1>Welcome to Yardsale</h1>

<p>
  Thank you so much for signing up for yardsale. You can see the latest items
  <%= link_to "for sale", items_url %>
</p>

<p>
  Have something you want sell, <%= link_to "post it on yardsale", new_item_url %>
</p>
